h1 {
    color:red;
    text-align: center;
  }

  .cupcakes {
    background-color: pink;
    color: black;
    margin: 10px;
    padding: 25px;
                } 

  h2 {
    font-style: italic;
    text-align: center;
    

  }

  h3 {
      color:purple; 
      text-emphasis: triangle;
      
  }
  
  p {
    font-family: sans-serif;
  }
  
  ul {
    font-size:20px;
    line-height: 30px;
  }
  .flashy {
    width: 100%;
    padding: 10px;
    color: red;
    font-size: 30px;
    font-style: italic;
  }
  .best {
      color: blueviolet;
      text-decoration: underline;
      font-style: bold ;
}